.menu {
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0;
  border-radius: 3px;
  padding: 2px 8px;
  list-style: none;
  background-color: #fff;
}

.wrapper {
  border: 1px solid #ccc;
  border-radius: 15px;
  min-width: 400px;
  max-width: 700px;
  padding: 2px 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

.input {
  width: 100px;
  flex-grow: 1;
  border: none;
  outline: none;
  margin: 2px;
  padding: 5px 10px;
}

.item {
  padding: 2px 5px;
  cursor: pointer;
}

.item.active {
  background-color: #f9cd0b;
}

.item.selected {
  position: relative;
  padding-right: 20px;
}

.item.selected::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-image: url("./check.svg");
  background-repeat: no-repeat;
}

.multivalue {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  padding: 5px 10px;
  padding-right: 5px;
  border: 1px solid #413d51;
  border-radius: 15px;
}

.multivalue-name {
  padding-right: 3px;
}

.remove {
  width: 18px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("./close.svg");
  background-size: 10px 10px;
  background-position: center center;
  background-repeat: no-repeat;
}

.remove:hover {
  outline: 1px solid #413d51;
  cursor: pointer;
}
